
.time{
    margin-top: 1em;
}
.question{
    font-size: 25px;
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 2em;
}

.count {
    margin-bottom: 1em;
    max-width: 160px;
    margin: auto;
    margin-top: 1em;
    padding: 0.5em;
}